/* body, html {
  height: 100%;
  display: grid;
  background: radial-gradient(#587894, #20354C);
} */

.box {
    overflow: visible;
}

.earth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shrink 2s forwards, disappear 0.7s 2s forwards;
}

.text {
    opacity: 0;
    animation-name: appear;
    animation-duration: 0.7s;
    animation-delay: 2s;
    animation-fill-mode: forwards; /* Ensures the final state stays after animation */
    position: absolute;
    top: 39vh;
    left: 33vw;
}

@keyframes disappear {
    0% {
        opacity: 1;
        /* Start fully opaque */
    }

    100% {
        opacity: 0;
        /* End fully transparent */
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        /* Start fully transparent */
    }

    100% {
        opacity: 1;
        /* End fully opaque */
    }
}

@keyframes shrink {
    0% {
        transform: scale(1) translateX(0);
        /* Initial state, no translation */
    }

    100% {
        transform: scale(0.2) translateX(-50%);
        /* Shrinks and moves 50% to the left */
    }
}