.active-button {
  background-color: steelblue;
  color: white;
}

button:hover {
  background-color: grey;
}

.badges:hover {
  transform: none;
  transition: none;
}

.events:hover {
  scale: 0.99;
  transform: translateY(2px);
}


.odjavi:hover{
  background-color: transparent;
}