/* za menu */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
/* za naslov */
@keyframes fadeInLetter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-slide-fade-in {
  animation: slideFadeIn 1.5s ease-out forwards;
}

.menu-slide-fade-out {
  animation: slideFadeOut 1.5s ease-out forwards;
}


.letter-fade-in {
  opacity: 0;
  animation: fadeInLetter 0.5s ease-in forwards;
}